<div class="container mt-4">
  <h1>Books</h1>
  <hr>
  <button class="btn btn-primary mb-3 mt-5" (click)="addBook()">Add Book</button>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Read?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; let i = index">
        <td>
          <input [(ngModel)]="book.title" [readonly]="!isEditing[i]" class="form-control">
        </td>
        <td>
          <input [(ngModel)]="book.author" [readonly]="!isEditing[i]" class="form-control">
        </td>
        <td>
          <select [(ngModel)]="book.read" [disabled]="!isEditing[i]" class="form-control">
            <option [ngValue]="true">Yes</option>
            <option [ngValue]="false">No</option>
          </select>
        </td>
        <td>
          <button *ngIf="!isEditing[i]" class="btn btn-warning mr-2" (click)="editBook(i)">Update</button>
          <button *ngIf="isEditing[i]" class="btn btn-success mr-2" (click)="saveBook(i)">Save</button>
          <button class="btn btn-danger" (click)="confirmDelete(book)" [disabled]="isEditing[i]">Delete</button>
        </td>
      </tr>
      <tr *ngIf="addingNewBook">
        <td>
          <input [(ngModel)]="newBook.title" class="form-control">
          <div class="new-book__warnings-container">
            <span *ngIf="newBook.title.length === 0" class="text-danger">Title is required</span>
            <span *ngIf="newBook.title.length < 3 && newBook.title.length > 0" class="text-danger">Title must be at least 3 characters long.</span>
          </div>
        </td>
        <td>
          <input [(ngModel)]="newBook.author" class="form-control">
          <div class="new-book__warnings-container">
            <span *ngIf="newBook.author.length === 0" class="text-danger">Author is required</span>
            <span *ngIf="newBook.author.length < 3 && newBook.author.length > 0" class="text-danger">Author must be at least 3 characters long.</span>
          </div>
        </td>
        <td>
          <select [(ngModel)]="newBook.read" class="form-control">
            <option [ngValue]="true">Yes</option>
            <option [ngValue]="false">No</option>
          </select>
        </td>
        <td>
          <button class="btn btn-success" (click)="saveNewBook()" [disabled]="isSaveDisabled()">Save</button>
          <button class="btn btn-secondary" (click)="addingNewBook = false">Cancel</button>
        </td>
      </tr>
    </tbody>
  </table>

<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show': showModal}" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this book?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="showModal = false">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteBook()">Delete</button>
      </div>
    </div>
  </div>
</div>
</div>